@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "inter", Helvetica, sans-serif;
  font-size: calc(14px + 0.2vw);
  /* line-height: 2rem; */
  -webkit-font-smoothing: antialiased; /* For Chrome, Safari */
  -moz-osx-font-smoothing: grayscale; /* For Firefox on macOS */
  @apply bg-dark overflow-x-hidden text-primaryText selection:bg-primary selection:text-secondary;
}

[data-scroll-container] {
  min-height: 100vh;
}
